.png{
    width: 250px;
    height: 75px;
}
.red{
    background-color: rgb(174, 33, 50);
}

.container{
    width: 100%;
    text-align: left;
}

.carimg{
    width: 100%;
    max-width: 100%;
    height: auto;
}

.red-text{
    color: red;
}
.middle{
    text-align: center;
}
.big{
    font-size: 15px;
}
.left{
    text-align: left;
}
.middle-left{
    text-align: center;
}
.margin1{
    margin-left: 400px;
    margin-right: 400px;
}
.redback{
    background-color: rgb(235, 52, 52);
    
}
.white{
    color: white;
}
.poster{
    width: 420px;
    height: 450px;
}
.padding{
    padding-left: 120px;
    
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 80px 200px;
    gap: 10px;
    
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  